.Authent {
  padding: 1em;
  font-weight: bold;
  font-size: x-large;
  color: white;
}

.Connected {
  text-shadow: 0 0 2px #0F0, 0 0 4px #0B0, 0 0 6px #070;
}

.Connecting {
  text-shadow: 0 0 2px #F80, 0 0 4px #B60, 0 0 6px #740;
}

.Error {
  color: red;
  text-shadow: 0 0 2px #DDD, 0 0 4px #888, 0 0 6px #444;
}
